body {
    background: url(./bg.png);
}

.logo-img {
    width: 1.1em;
    position: relative;
    top: -3px
}

@font-face {
    src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@600&display=swap);
    font-family: 'Noto Sans Thai', sans-serif;
}

div, p, h1, h2, h3, a {
    font-family: 'Noto Sans Thai', sans-serif;
}
